---
type Props = {
  similarities: [number, string[]][];
};

const { similarities } = Astro.props;

const mostSimilarPros = similarities.at(0)?.[1];
const mostDisimilarPros = similarities.at(-1)?.[1];
---

<p>
  最も似ているのは: {mostSimilarPros ? mostSimilarPros.join(", ") : "なし"}
</p>
<p>
  最も似てないのは: {mostDisimilarPros ? mostDisimilarPros.join(", ") : "なし"}
</p>
